In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('Predict_vegetable_2021_price.csv')

In [6]:
df

     Unnamed: 0               Item Name       price
0             0                    Amla   65.790238
1             1              Anjura/Fig   96.706262
2             2         Apple Australia  212.394249
3             3  Apple Chaina Delicious  182.845586
4             4            Apple Chilli  189.883613
..          ...                     ...         ...
297         297       Watermellon kiran   21.878722
298         298          Y.Bananan T.N.  199.269596
299         299              Yam/S.Root   44.313371
300         300               knol-khol   31.569587
301         301           mango Pickles   78.498540

[302 rows x 3 columns]

In [7]:
df.head()

   Unnamed: 0               Item Name       price
0           0                    Amla   65.790238
1           1              Anjura/Fig   96.706262
2           2         Apple Australia  212.394249
3           3  Apple Chaina Delicious  182.845586
4           4            Apple Chilli  189.883613

In [8]:
uniqueValues = df['Item Name'].unique()
print('Unique elements in column "Item Name" ')
print(uniqueValues)

Unique elements in column "Item Name"
['Amla' 'Anjura/Fig' 'Apple Australia' 'Apple Chaina Delicious'
 'Apple Chilli' 'Apple Delicious' 'Apple Economy' 'Apple Fuji chaina'
 'Apple Golden delicious' 'Apple Green smith' 'Apple Newzeland'
 'Apple Simla' 'Apple Washington' 'Apple hazarath palli' 'Apple juice'
 'Arive greens' 'Avare seed (FB seeds)' 'Avarebele (F. Beans spok)'
 'Avarekai (Field Beans )' 'Baby corn' 'Baby corn cleaned'
 'Bale hoovu(B.flower)' 'BaleDindu (Banana stem)' 'Banana Nendra'
 'Banana Rasabale' 'Banana Yellaki' 'Banana chandra'
 'Banana cooking R.Banana' 'Banana pachabale' 'Basale Greens'
 'Batani kalu' 'Beans' 'Beans Fruit' 'Beans Nati' 'Beans Ring'
 'Beans cleaned' 'Beet Root' 'Berry Golden' 'Berry Green' 'Berry Soft'
 'Berry Southafrica' 'Berry ball' 'Berry fruit Ooty' 'Bitter Gourd'
 'Bore fruit' 'Bottle Gourd' 'Brahmi amla juice' 'Bread fruit'
 'Brinjal (R)' 'Brinjal (W)' 'Brinjal Bottle' 'Brocoli' 'Butter fruit'
 'Byladha Hannu' 'Cabbage' 'Cabbage Red' 'Cabbage chaina' 'Capsicum'
 'Capsicum Red/Yellow' 'Carrot Delhi' 'Carrot Nati' 'Carrot ooty'
 'Cauliflower per Kg' 'Cauliflower(B)' 'Cauliflower(M)' 'Chain Berry'
 'Chakota greens' 'Cherry Tomoto' 'Cherry fruit' 'Cherry kashmir'
 'Chicco(Sapota)' 'Chicco(Sapota) rapined' 'Chikadi kai'
 'Chikkadikai Round' 'Chikkadikai cleaned' 'Chilakarive green'
 'Chilles small cleaned (C.B.P)' 'Chillies Bajji' 'Chillies Bajji yagani'
 'Chillies Cleaned' 'Chillies Green' 'Chillies small (C.B.P)'
 'Chocolates Drink box' 'Chow-Chow' 'Cluster Bean Local'
 'Cluster Beans Bunches' 'Coconut (B)' 'Coconut (M)' 'Coconut (OS)'
 'Coconut (S)' 'Coconut oil 500 ml' 'Copra' 'Corriander Leave'
 'Cowpea Long' 'Cucumber' 'Cucumber Israle' 'Cucumber Nati'
 'Cucumber Ooty' 'Cucumber white' 'Curry leave' 'Custerd Apple'
 'Dhantu greens' 'Double Beans' 'Double Beans seeds' 'Drumstik'
 'Dry apricot' 'Dry dates' 'Dry fruit mixed' 'Eggs' 'Fanda'
 'Fruit Juice Tailand' 'G. nut Golden oil 1 lt' 'G. nut oil Rice 1 lt'
 'G. nut oil safal deep1 lt' 'G. nut sungold 1 lt' 'G.nut oil Premium1 lt'
 'G.nut oil Rice Bron 1 lt' 'G.oil Net rich 500 ml' 'Garlic'
 'Garlic cleaned' 'Ginger' 'Ginger New' 'Grapes Blore blue'
 'Grapes Crimson' 'Grapes Dilkush' 'Grapes Dry 250gm' 'Grapes Flame'
 'Grapes Krishna sharad' 'Grapes Red globe' 'Grapes Rose' 'Grapes Sharad'
 'Grapes Sonika' 'Grapes T.S.' 'GrapesAnabi shahi' 'Grapesh Tash ganesh'
 'Greens Sabbakki' 'Ground nut Local' 'Ground nut oil 1 lt'
 'Ground nut oil 5 lt' 'Guava' 'Guava Allahabad(Red)' 'Gulkan 1 kg'
 'Gulkan 1/2 kg' 'Gulkan 1/4 kg' 'Herali kai' 'Hesaru kalu' 'Honney 1 Kg'
 'Honney 1/2' 'Honney 100 gm' 'Honney 200 gm' 'Indian Black globe Grapes'
 'Indian red globe' 'Jack fruit' 'Jam 1 kg' 'Jam 1/2 kg' 'Jam 100 gm'
 'Jam 200 gm' 'Jambo fruit(Nerale)' 'Jukani' 'Jumbu juice' 'Kakadi'
 'Kashini (Ganike) Greens' 'Kiwi fruit' 'Komark fruit' 'Ladys finger'
 'Leeks' 'Letteus Greens' 'Lime Local' 'Lime Pickles' 'Litchi Juice'
 'Litchi Local' 'Litchi Taiwan/chaina' 'Little gourd' 'Maize'
 'Mangalore cucumber' 'Mango' 'Mango Alphans' 'Mango Alphans box'
 'Mango Amarpalli' 'Mango Badami' 'Mango Bygan palli' 'Mango Dasheri'
 'Mango Kesar' 'Mango Langada' 'Mango Neelam' 'Mango Raspuri' 'Mango Raw'
 'Mango Raw Amblet' 'Mango Sendura' 'Mango kalapadu' 'Mango malagova'
 'Mango mallika' 'Mango rathnagiri(red)' 'Mango sakkaregutti'
 'Mango thotapuri' 'Menthya Greens' 'Mineral water 1 lt' 'Mint Leaves'
 'Molake kalu' 'Mosambi' 'Mosambi polo' 'Mushroom Button'
 'Mushroom Oyster' 'N.Juice 200 ml' 'Nagapur Orange Economy'
 'Net rich 5 lt oil' 'Onion Big' 'Onion flowers' 'Onion medium'
 'Onion samber' 'Onion small(Economy)' 'Orange' 'Orange Australia'
 'Orange Nagpura' 'Orange Ooty' 'Orange South Africa' 'Orange juice'
 'Orange malt' 'Palak Greens' 'Papaya Red lady' 'Papaya Taiwan'
 'Papaya nati' 'Papaya red indian' 'Papaya sola' 'Parsley' 'Parvala'
 'Peaches' 'Peas Delhi' 'Peas Dharwad' 'Peas Ooty' 'Peas local'
 'Peas seeds' 'Pepper' 'Pickles' 'Pickles mixed veg' 'Pineapple'
 'Pineapple juice' 'Pista' 'Plum Australia' 'Plum Ooty'
 'Pomegranate A.raktha' 'Pomegranate Bhagav' 'Pomegranate Ganesh'
 'Pomegranate Juice' 'Pomello/Chakotha' 'Potato Baby' 'Potato(B)'
 'Potato(M)' 'Pumpkin Ash' 'Pumpkin Japan' 'Pumpkin Red' 'Raddish'
 'Raddish Red' 'Rice Bran 15 lt Tin' 'Rice Bran 5 lt' 'Rose apple'
 'Rumenia Mango' 'S.mellon Local (Luck)' 'S.mellon namdhari'
 'S.mellon namdhari (Red)' 'Safal deep 500 ml' 'Selari' 'Sham gadde'
 'Snake Gourd' 'Snake Gourd(S)' 'South Af.red berry'
 'South Africa Gala apple' 'Sponge Gourd' 'Spring Onion'
 'Spring Onion(Cleaned)' 'Stevia powder' 'Straw Berry'
 'Sun safal Tin 15 lt' 'Sungold oil 5 lt' 'Sungold oil 5 lt packet'
 'Sweet Potato(Genasu)' 'Sweet corn' 'Sweet corn cleaned'
 'Sweet corn seeds' 'Sweet corn seeds spok' 'Tamarind Paste 150 gm'
 'Tamarind Paste 450 gm' 'Tamarind seedless' 'Tamarind sweet 500gm'
 'Tamrind Chatisghar' 'Tender Coconut' 'Tender Coconut(M)'
 'Tender Coconut(S)' 'Thailand Jelly' 'Thailand Juice' 'Thinda'
 'Thogari kai' 'Times Rose berry' 'Tomoto' 'Washington gala apple'
 'Washington red apple' 'Watermellon' 'Watermellon kiran' 'Y.Bananan T.N.'
 'Yam/S.Root' 'knol-khol' 'mango Pickles']

In [9]:
uniqueValues = df['Item Name'].nunique()
print('Number of unique values in column "Item Name" of the dataframe : ')
print(uniqueValues)

Number of unique values in column "Item Name" of the dataframe :
302

In [10]:
options = []
item_name = df['Item Name']
for item in item_name:
    option = '<option value="'+str(item)+'">'+str(item)+'</option>'
    options.append(str(option))

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  302 non-null    int64
 1   Item Name   302 non-null    object
 2   price       302 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.2+ KB

In [12]:
options[:20]

['<option value="Amla">Amla</option>',
 '<option value="Anjura/Fig">Anjura/Fig</option>',
 '<option value="Apple Australia">Apple Australia</option>',
 '<option value="Apple Chaina Delicious">Apple Chaina Delicious</option>',
 '<option value="Apple Chilli">Apple Chilli</option>',
 '<option value="Apple Delicious">Apple Delicious</option>',
 '<option value="Apple Economy">Apple Economy</option>',
 '<option value="Apple Fuji chaina">Apple Fuji chaina</option>',
 '<option value="Apple Golden delicious">Apple Golden delicious</option>',
 '<option value="Apple Green smith">Apple Green smith</option>',
 '<option value="Apple Newzeland">Apple Newzeland</option>',
 '<option value="Apple Simla">Apple Simla</option>',
 '<option value="Apple Washington">Apple Washington</option>',
 '<option value="Apple hazarath palli">Apple hazarath palli</option>',
 '<option value="Apple juice">Apple juice</option>',
 '<option value="Arive greens">Arive greens</option>',
 '<option value="Avare seed (FB seeds)">Avare seed (FB seeds)</option>',
 '<option value="Avarebele (F. Beans spok)">Avarebele (F. Beans spok)</option>',
 '<option value="Avarekai (Field Beans )">Avarekai (Field Beans )</option>',
 '<option value="Baby corn">Baby corn</option>']

In [13]:
with open('options.txt', 'w') as f:
    for item in options:
        f.write("%s\n" % item)

In [16]:
val =df[df['Item Name'] == 'Baby corn']['price']